<!DOCTYPE html>
<html>
    <head>
      <title>Mercado Liebre</title>
      <link href="../css/estilos.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <header>
            <img src="../images/logo-mercado-liebre.svg" width="360"alt="Logo">
            <p class="busqueda">Buscar productos, marcas</p>
            <i class="fas fa-search"></i>
        </header>
     


        <form action="/login"method="POST">
            <p>
                <label>Nombre de usuario</label>
                <input type="text"name="Nombre de usuario">
            </p>
            <p>
                <label>Elegí tu contraseña</label>
                <input type="password"name="contraseña">
            </p>
        </form>

    </body>
</html>