<form action="/register"method="POST">
	<p>
		<label for="nombre">Nombre y Apellido:</label>
		<input type="text"id="nombre">
	</p>
	<p>
		<label>Nombre de Usuario:</label>
		<input type="text"name="usuario">
	</p>
	<p>
		<label>Fecha de Nacimiento:</label>
		<input type="date"name="fecha">
	</p>
	<p>
		<label>Domicilio:</label>
		<input type="email"name="email">
	</p>
    <p>
		<label>Perfil de Usuario:</label>
		<input type="text"name="nombre">
	</p>
	<p> 
        <label>Categorias de Interés:</label>
            <label>Electro</label>
            <input type="checkbox" name="categorias" value="Electro">
            <label>Moda</label>
            <input type="checkbox" name="categorias" value="Moda">
            <input type="checkbox" name="categorias" value="Hogar">
            <input type="checkbox" name="categorias" value="Jugueteria">
            <input type="checkbox" name="categorias" value="Vida Sana">
    </p>
	<p>
		<label>Foto de Usuario:</label>
		<input type="file" name="foto" accept=".jpg">
	</p>
	<p>
		<label>Contraseña:</label>
		<input type="password"name="contraseña">
	</p>
    <p>
		<label>Confirmar Contraseña:</label>
		<input type="password"name="contraseña">
	</p>

	
    
    
    
    
    
    <p>
		<button type="submit">Enviar</button>
	</p>
    <p>
		<button type="submit">Borrar</button>
	</p>

</form>


<input type="checkbox" name="hobbies" value="Pintura">
<input type="checkbox" name="hobbies" value="Juegos" checked>