<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mercado Liebre</title>
   <link href="../css/estilos.css" rel="stylesheet">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">

</head>

<body>
   <header>
      <img src="../images/logo-mercado-liebre.svg" alt="Logo">
      <nav> 
         <p class="busqueda">Buscar productos, marcas</p>
         <i class="fas fa-search"></i>
      </nav>
      <i class="fas fa-hand-holding-usd"></i>
      <span>Comprá en cuotas y sin tarjeta de crédito</span>
      <ul class="links">
         <li>Ofertas</li>
         <li>Tiendas Oficiales</li>
         <li>Vender</li>
         <li>Ayuda</li>
      </ul>
         <ul class="links-registro">
         <li>Creá tu cuenta <i class="far fa-user"></i></li>
         <li>Ingresá <i class="fas fa-sign-in-alt"></i></li>
         <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
      </ul>
      <div class="burger-menu">
         <i class="fas fa-bars"></i>
      </div>
   </header>
   <main>
      <article>
         <h3 class="titulares">Basado en tu última visita</h3>
         <div id="ultimavisita">
            <div class="articulo">
               <img class="img-art" src="../images/img-cafetera-moulinex.jpg" width="360" alt="cafetera moulinex">
               <div class="articulo-text">
                  <div class="truck">
                     <i class="fas fa-truck"></i>
                  </div>
                  <div class="valores">
                     <p class="precios">$6.770</p>
                     <p class="descuentos">40% off</p>
                  </div>
                  <p class="descripciones">Cafetera Moulinex</p>
               </div>
            </div>
            <div class="articulo">
               <img src="../images/img-macbook-pro-2019.jpg" width="360" alt="macbook pro 2019">
               <div class="articulo-text">
                  <div class="truck">
                     <i class="fas fa-truck"></i>
                  </div>
                  <p class="precios">$230.000</p>
                  <p class="descuentos">20% off</p>
                  <p class="descripciones">MacBook Pro 2019</p>
               </div>
            </div>   
            <div class="articulo">
               <img src="../images/img-samsung-galaxy-s10.jpg" width="360" alt="samsung galaxy s10">
               <div class="articulo-text">
                  <div class="truck">
                     <i class="fas fa-truck"></i>
                  </div>
                  <div class="valores">
                     <p class="precios">$70.500</p>
                     <p class="descuentos">10% off</p>
                  </div>
                  <p class="descripciones">Samsung Galaxy S10</p>
               </div>
            </div>
            <div class="articulo">
               <img src="../images/img-tv-samsung-smart.jpg" width="360" alt="tv samsung">
               <div class="articulo-text">
                  <div class="truck">
                     <i class="fas fa-truck"></i>
                  </div>
                  <div class="valores">
                     <p class="precios">$23.200</p>
                     <p class="descuentos">5% off</p>
                  </div>
                  <p class="descripciones">SmartTv Samsung 43"</p>
               </div>
            </div>            
         </div>
      </article>
      <article>
         <h3 class="titulares">Ofertas</h3>
         <br>
         <div id="ofertas">
            <div class="articulo">
               <img src="../images/img-cafetera-moulinex.jpg" width="360" alt="cafetera moulinex">
               <div class="articulo-text">
                  <div class="truck">
                     <i class="fas fa-truck"></i>
                  </div>
                  <div class="valores">
                     <p class="precios">$6.770</p>
                     <p class="descuentos">40% off</p>
                  </div>
                  <p class="descripciones">Cafetera Moulinex</p>
               </div>
            </div>
            <div class="articulo">
               <img src="../images/img-macbook-pro-2019.jpg" width="360" alt="macbook pro 2019">
               <div class="articulo-text">
                  <div class="truck">
                     <i class="fas fa-truck"></i>
                  </div>
                  <div class="valores">
                     <p class="precios">$230.000</p>
                     <p class="descuentos">20% off</p>
                  </div>
                  <p class="descripciones">MacBook Pro 2019</p>
               </div>
            </div>
            <div class="articulo">
               <img src="../images/img-samsung-galaxy-s10.jpg" width="360" alt="samsung galaxy s10">
               <div class="articulo-text">
                  <div class="truck">
                     <i class="fas fa-truck"></i>
                  </div>
                  <div class="valores">
                     <p class="precios">$70.500</p>
                     <p class="descuentos">10% off</p>
                  </div>
               </div>
                  <p class="descripciones">Samsung Galaxy S10</p>
            </div>
            <div class="articulo">
               <img src="../images/img-tv-samsung-smart.jpg" width="360" alt="tv samsung">
               <div class="articulo-text">
                  <div class="truck">
                     <i class="fas fa-truck"></i>
                  </div>
                  <div class="valores">
                     <p class="precios">$23.200</p>
                     <p class="descuentos">5% off</p>
                  </div>
                  <p class="descripciones">SmartTv Samsung 43"</p>
               </div>
            </div>
      </article>
   </main>
   <footer>
      <div class="footer-content">
         <div class="footer-art">
            <div class="footer-icon">
               <i class="fas fa-credit-card"></i>
            </div>
            <p>Pagá con tarjeta o en efectivo</p>
         </div>

         <div class="footer-art">
            <div class="footer-icon">
               <i class="fas fa-gift"></i>
            </div>
            <p>Envío gratis desde $ 2.500</p>
         </div>

         <div class="footer-art">
            <div class="footer-icon">
               <i class="fas fa-user-shield"></i>
            </div>
            <p>Seguridad, de principio a fin</p><br>
         </div>
      </div>

      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

   </footer>

</body>

</html>